result*
.direnv
virtualmachines
*.orig
*.qcow2
*.exe
*.zip
*.7z
*.msi
*.vsix
*.doc
*.xlsx
*.orig
*.qcow2
.*
mesa3d*
dnSpy*
virtualmachines/*
windows
chroma.log
node_modules
lib
build

# Python build artifacts
__pycache__/
*.pyc
*.egg-info/

# Temporary edit scripts
_edit*.ps1
