
* {
	all: unset;
	// font-weight: bold;
	font-family: Iosevka;
}

.warn {
	color: $theme-red;
	font-weight: bold;
}

.block1 {
	background-color: $theme-background1;
	border-radius: 16px;
	padding: 2px 12px;
	margin: 2px;
}
