.panel {
        background-color: $theme-background;
        padding: 0px 7px;
        margin: 6px 6px;
        min-height: 27px;
        border-radius: 8px;
        border-width: 5px;

	font-size: 16px;

	.weather_panel>box,
	.center_panel>box {
		padding: 0px 2px 0px 2px;
	}
        .time {
          font-size: 22px;
        }

	.weather_panel,
	.panel_music {
		background-color: $theme-background1;
		border-radius: 20px;
		margin: 1px 5px;
		padding: 1px 4px;

		>bottom {
			background-color: $theme-background2;
			color: blue;
		}
	}

	>box {
		padding: 0px 2px 0px 2px;
	}

	.workspace {

		&.normal-workspace,
		&.current-workspace {
			font-size: 18px;
			min-width: 24px;
			min-height: 24px;
			font-size: 18px;
			min-width: 24px;
			min-height: 24px;
			border-radius: 20px;
			margin: 2px 4px;
		}

		&.current-workspace {
			background-color: $theme-background;
		}

		&.normal-workspace {
			color: $theme-foreground;
			background-color: $theme-background2;
		}

		&.current-workspace:nth-child(2) {
			color: $theme-blue;
		}

		&.current-workspace:nth-child(3) {
			color: $theme-pink;
		}

		&.current-workspace:nth-child(4) {
			color: $theme-red;
		}

		&.current-workspace:nth-child(5) {
			color: $theme-yellow;
		}

		&.current-workspace:nth-child(6) {
			color: $theme-red;
		}

		&.current-workspace:nth-child(7) {
			color: $theme-yellow;
		}

		&.current-workspace:nth-child(8) {
			color: $theme-blue;
		}

		&.current-workspace:nth-child(9) {
			color: $theme-sky;
		}

		&.current-workspace:nth-child(10) {
			color: $theme-green;
		}

		&.layout {
			margin: 2px 4px;
			font-size: 20px;
		}

	}

	.control_panel {
                margin: 2px;

		circular-progress {
			background-color: $theme-background2;
			border-radius: 24px;

			label {
				color: $theme-sky;
				font-size: 13px;
				margin: 7px;
			}

			&:nth-child(1) {
				color: $theme-sky;
			}

			&:nth-child(2) {
				color: $theme-green;
			}

			&:nth-child(3) {
				color: $theme-red;
			}

			&:nth-child(4) {
				color: $theme-yellow;
			}

			&:nth-child(1)>label {
				color: $theme-sky;
			}

			&:nth-child(2)>label {
				color: $theme-green;
			}

			&:nth-child(3)>label {
				color: $theme-red;
			}

			&:nth-child(4)>label {
				color: $theme-yellow;
			}

		}

		.volume {
			color: $theme-yellow;
		}

		.brightness {
			color: $theme-yellow;
		}

		 trough {
			background-color: $theme-background2;
			min-height: 10px;
			min-width: 64px;
			border-radius: 8px;
			margin-left: 10px;
			margin-right: 20px;
		}

		highlight {
			color: $theme-blue;
			border-radius: 8px;
		}

		highlight {
			border-radius: 8px;
			background-color: $theme-yellow;

		}


	}

}
