<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="7zip" />
  <package id="7zip.install" />
  <package id="7zip.portable" />
  <package id="acronis-drive-monitor" />
  <package id="alacritty" />
  <package id="alacritty.install" />
  <package id="autohotkey.install" />
  <package id="bat" />
  <package id="chocolatey" />
  <package id="chocolatey-compatibility.extension" />
  <package id="chocolatey-core.extension" />
  <package id="chocolatey-dotnetfx.extension" />
  <package id="chocolatey-fastanswers.extension" />
  <package id="chocolatey-font-helpers.extension" />
  <package id="chocolatey-os-dependency.extension" />
  <package id="chocolatey-visualstudio.extension" />
  <package id="chocolatey-windowsupdate.extension" />
  <package id="cmake" />
  <package id="cmake.install" />
  <package id="cppcheck" />
  <package id="crystaldiskmark" />
  <package id="dbgview" />
  <package id="directx" />
  <package id="directx-sdk" />
  <package id="dismplusplus" />
  <package id="DotNet3.5" />
  <package id="DotNet4.5.2" />
  <package id="dotnetfx" />
  <package id="duf" />
  <package id="dust" />
  <package id="fd" />
  <package id="filezilla" />
  <package id="Firefox" />
  <package id="fluent-terminal" />
  <package id="git" />
  <package id="git.install" />
  <package id="gitui" />
  <package id="GoogleChrome" />
  <package id="Growl" />
  <package id="jq" />
  <package id="KB2919355" />
  <package id="KB2919442" />
  <package id="KB2999226" />
  <package id="KB3033929" />
  <package id="KB3035131" />
  <package id="lazygit" />
  <package id="less" />
  <package id="llvm" />
  <package id="microsoft-windows-terminal" />
  <package id="mingw" />
  <package id="mylifeorganized" />
  <package id="neovide" />
  <package id="neovide.install" />
  <package id="neovim" />
  <package id="nerd-fonts-Hack" />
  <package id="nodejs" />
  <package id="nodejs.install" />
  <package id="notepadplusplus" />
  <package id="notepadplusplus.install" />
  <package id="nvim-ui" />
  <package id="oh-my-posh" />
  <package id="poshgit" />
  <package id="python" />
  <package id="python3" />
  <package id="ripgrep" />
  <package id="rsync" />
  <package id="sed" />
  <package id="starship" />
  <package id="Sudo" />
  <package id="systeminformer-nightlybuilds" />
  <package id="treesizefree.portable" />
  <package id="typescript" />
  <package id="vcredist140" />
  <package id="vcredist2015" />
  <package id="virtio-drivers" />
  <package id="visualstudio-installer" />
  <package id="visualstudio2019-workload-nativedesktop" />
  <package id="visualstudio2019professional" />
  <package id="vscode" />
  <package id="winfsp" />
  <package id="winspy" />
  <package id="wiztree" />
</packages>